DISCORD_TOKEN=discord-token
YUH_EMOTE_CODE=<:yuh:1221579351384915968>
YUH_CHANNEL=[0-9]+
YUH_LOG_THREAD=[0-9]+
AUTO_RESPONDER_EXCLUSION_CHANNEL_IDS=[0-9,]+
QOTD_CHANNEL=[0-9]+
QOTD_TIMEZONE=continent/city
QOTD_HOUR=\d
QOTD_MINUTE=\d
QOTD_SECOND=\d
QOTD_LINK=https://gist.github.com/Wissididom/0bee383292fb2099d43084052e5bced6/raw/57807e4250d17d109f952d7dfe428a6268c1bc50/qotd.txt
HONEYPOT_CHANNEL=\d+
